
        .skn-sma1,.skn-sma1 table{line-height:14px}
        .skn-sma1.pagesize{width:515px}
        .skn-sma1.fontsize{font-size:11px}
        .skn-sma1.fontface,.skn-sma1 .lang-sec .paragraph *,.skn-sma1 .skli-sec .paragraph *{font-family:Century Gothic}
        .skn-sma1.vmargins{padding-top:30px;padding-bottom:30px}
        .skn-sma1.hmargins{padding-left:40px;padding-right:40px}
        .skn-sma1 .section{margin-top:15px}
        .skn-sma1 .heading{margin-bottom:4px}
        .skn-sma1 .paragraph{margin-top:8px}
        .skn-sma1 .firstsection,.skn-sma1 .firstparagraph{margin-top:0!important}
        .skn-sma1 .singlecolumn,.skn-sma1 .maincolumn{margin-left:35px}
        .skn-sma1 .sectiontitle{font-size:11px;line-height:14px}
        .skn-sma1 table.skills td{padding-top:4px}
        .skn-sma1 .name{font-size:37px;line-height:49px}
        .skn-sma1 .resumeTitle{font-size:15px;line-height:15px;padding:0 0 6px 0}
        .skn-sma1 .address{font-size:10px;line-height:13px}
        .skn-sma1 .name,.skn-sma1 .sectiontitle{color:#000000}
        .skn-sma1 .totl-expr{border-color:#000000;font-size:7px;line-height:11px}

        /*FIX for Re-calculating width of singlecolumn for CL*/
        .skn-sma1 .sectionCL .singlecolumn{margin-left:0!important;width:100%;font-size:11px}
        .skn-sma1 .address2{font-size:11px;line-height:14px}

        /*Infographic*/
      .skn-sma1 .lang-sec,.skn-sma1 .skli-sec{padding-left:35px}
      .skn-sma1 .lang-sec .heading,.skn-sma1 .skli-sec .heading{margin-left:-35px}
      .skn-sma1 .inner-rating{background-color:#000000}
      .skn-sma1 .lang-sec .sortable-item,.skn-sma1 .skli-sec .sortable-item{display:inline-block;vertical-align:top}
      .skn-sma1 .skli-sec .singlecolumn .field:last-child{min-height:14px}

      /*Finalize Fixes*/
      .page-finalize .skn-sma1 .sortableInner .paragraph-container+.paragraph-container{margin:0}
      .skn-sma1 .lang-sec .sortableInner .sortable-item:not(:first-child) .paragraph,.skn-sma1 .skli-sec .sortableInner .sortable-item:not(:first-child) .paragraph{vertical-align:top}
      .page-finalize .skn-sma1 .sortableInner .paragraph-container+.paragraph-container,.page-finalize .sortable-drag-item.skn-sma1 .section{margin-top:0!important}
      .skn-sma1 .sortable-item i.far.fa-check{font-family:"Font Awesome 5 Pro"}
      .skn-sma1 .data-LNGG .sortable-item.native-lang{width:100%;max-width:100%}
      .skn-sma1 .data-LNGG .doc-item,.skn-sma1 .data-SKLI .doc-item,.skn-sma1 .lang-sec .doc-item,.skn-sma1 .skli-sec .doc-item{width:100%}
      .skn-sma1 .data-LNGG .sortableInner,.skn-sma1 .data-SKLI .sortableInner,.skn-sma1 .SECTION_LNGG .sortableInner,.skn-sma1 .SECTION-SKLI .sortableInner{display:flex;flex-wrap:wrap;justify-content:space-between}
      .skn-sma1 .data-LNGG .sortable-item,.skn-sma1 .data-SKLI .sortable-item{width:48.4%}
      .skn-sma1 .data-LNGG .sortable-item .paragraph,.skn-sma1 .data-SKLI .sortable-item .paragraph{width:100%;max-width:100%}
      /*Fixes for builder for skill*/
      .skn-sma1 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:14px}	
      .skn-sma1 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-sma1 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
      .skn-sma1 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-sma1 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph, .skn-sma1  .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-sma1  .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}

      /*PDF Flex Handling Code - Personal Information*/
		.skn-sma1.for-pdf .pdet-sec .singlecolumn{display:block}
		.skn-sma1.for-pdf .pdfpdwrapper{display:block}
		.skn-sma1.for-pdf .pdfpdwrapper .details-wrap:first-child{float:left;padding-right:5px}
		.skn-sma1.for-pdf .pdfpdwrapper .details-wrap:nth-child(2){float:right}
		.skn-sma1.for-pdf .pdfpdwrapper .details-wrap{width:237px;}

    /*Infographic Containers*/
    .skn-sma1.for-pdf .lang-sec,.skn-sma1.for-pdf .skli-sec{display:block}
    .skn-sma1.for-pdf .pdfinfwrapper{display:block}
    .skn-sma1.for-pdf .pdfinfwrapper:after{content:'';clear:both;display:table}
    .skn-sma1.for-pdf .pdfinfwrapper .paragraph:first-child{float:left}
    .skn-sma1.for-pdf .pdfinfwrapper .paragraph:nth-child(2){float:right}
    .skn-sma1.for-pdf .pdfinfwrapper:last-child .paragraph{margin-bottom:0;padding-bottom:0!important}
    