
        .skn-upa2,.skn-upa2 table{line-height:14px}
        .skn-upa2.pagesize{width:545px}
        .skn-upa2.fontsize,.skn-upa2 .lang-sec .paragraph *,.skn-upa2 .skli-sec .paragraph *{font-size:11px}
        .skn-upa2.fontface{font-family:Century Gothic}
        .skn-upa2.vmargins{padding-top:25px;padding-bottom:25px}
        .skn-upa2.hmargins{padding-left:25px;padding-right:25px}
        .skn-upa2 .section{margin-top:4px}
        .skn-upa2 .disclaim{margin:0;padding:0;margin-top:20px}
        .skn-upa2 .firstsection.section,.skn-upa2 .SECTION_CNTC,.skn-upa2 .SECTION_ALNK.section,.skn-upa2 .firstparagraph.paragraph{margin-top:0}
        .skn-upa2 .heading{margin-bottom:1px}
        .skn-upa2 .paragraph{margin-top:2px}
        .skn-upa2 .singlecolumn,.skn-upa2 .maincolumn{margin-left:0px}
        .skn-upa2 .bottomborder{border-bottom:1px solid}
        .skn-upa2 .sectiontitle{font-size:14px;line-height:17px}
        .skn-upa2 .name{font-size:29px;line-height:35px}
        .skn-upa2 .address{font-size:10px;line-height:16px;margin-top:3px}
        .skn-upa2 table.skills td{padding-top:1px}
        .skn-upa2 .heading{margin-bottom:1px;border-color:#C00000}
        .skn-upa2 .name span.lName{color:#C00000}
        .skn-upa2 .resumeTitle{font-size:15px;line-height:30px;padding:0 0 6px 0}
        .skn-upa2 .disclaim .heading{margin-bottom:3px}
		    .skn-upa2 .skli-sec .singlecolumn .field:last-child{min-height:14px}
        .skn-upa2 .totl-expr{background-color:#C00000;font-size:8px;line-height:12px}

        /*FIX for Re-calculating width of singlecolumn for CL*/
        .skn-upa2 .sectionCL .singlecolumn{margin-left:0;width:100%}
        .skn-upa2 .address2{font-size:11px;line-height:14px}

        /*Infographic*/
        .skn-upa2 .lang-sec,.skn-upa2 .skli-sec{padding-left:0px}
        .skn-upa2 .lang-sec .heading,.skn-upa2 .skli-sec .heading{margin-left:-0px}
        .skn-upa2 .inner-rating{background-color:#C00000}
        .skn-upa2 .lang-sec .sortable-item,.skn-upa2 .skli-sec .sortable-item{display:inline-block;vertical-align:top}

        /* Multi para hilt */
        .skn-upa2 .multi-para-hilt{margin-left:0px}
        .skn-upa2 .multi-para-hilt .heading{margin-left:-0px}

        /*finalize page fixes*/
        .skn-upa2 .langSec .sortableInner .sortable-item:not(:first-child) .paragraph,.skn-upa2 .infoSec .sortableInner .sortable-item:not(:first-child) .paragraph{vertical-align:top}
        .page-finalize .skn-upa2 .sortableInner .paragraph-container+.paragraph-container,.page-finalize .sortable-drag-item.skn-upa2 .section{margin-top:0}
        .page-finalize .skn-upa2 .section.langSec .paragraph{margin-top:0}
        .skn-upa2 .data-LNGG .sortable-item.native-lang{width:100%;max-width:100%}
        .skn-upa2 .data-LNGG .doc-item,.skn-upa2 .data-SKLI .doc-item,.skn-upa2 .lang-sec .doc-item,.skn-upa2 .skli-sec .doc-item{width:100%}
        .skn-upa2 .data-LNGG .sortableInner,.skn-upa2 .data-SKLI .sortableInner,.skn-upa2 .SECTION_LNGG .sortableInner,.skn-upa2 .SECTION-SKLI .sortableInner{display:flex;flex-wrap:wrap;justify-content:space-between}
        .skn-upa2 .data-LNGG .sortable-item,.skn-upa2 .data-SKLI .sortable-item{width:48.6%}
        .skn-upa2 .data-LNGG .sortable-item .paragraph,.skn-upa2 .data-SKLI .sortable-item .paragraph{width:100%;max-width:100%}

        /*Fixes for builder for skill*/
        .skn-upa2 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:14px}	
        .skn-upa2 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-upa2 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
        .skn-upa2 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-upa2 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph, .skn-upa2  .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-upa2  .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}
		
		 /*PDF Flex Handling Code - Personal Information*/
		.skn-upa2.for-pdf .pdet-sec .singlecolumn{display:block}
		.skn-upa2.for-pdf .pdfpdwrapper{display:block}
		.skn-upa2.for-pdf .pdfpdwrapper .details-wrap:first-child{float:left;padding-right:5px}
		.skn-upa2.for-pdf .pdfpdwrapper .details-wrap:nth-child(2){float:right}
		.skn-upa2.for-pdf .pdfpdwrapper .details-wrap{width:270px!important;}
	   
    /*Infographic Containers*/
    .skn-upa2.for-pdf .lang-sec,.skn-upa2.for-pdf .skli-sec{display:block}
    .skn-upa2.for-pdf .pdfinfwrapper{display:block}
    .skn-upa2.for-pdf .pdfinfwrapper:after{content:'';clear:both;display:table}
    .skn-upa2.for-pdf .pdfinfwrapper .paragraph:first-child{float:left}
    .skn-upa2.for-pdf .pdfinfwrapper .paragraph:nth-child(2){float:right}
    .skn-upa2.for-pdf .pdfinfwrapper:last-child .paragraph{margin-bottom:0;padding-bottom:0}

    /*PDF Handling for TEXP*/
    .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .texp-row{display:block;}
    .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .jobdetail-cell{display:inline-block;width:75%}
    .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .texp-cell{display:inline-block;float:right;}    
    