 [data-react-beautiful-dnd-drag-handle="48"] { 
          -webkit-touch-callout: none;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          touch-action: manipulation;
         } [data-react-beautiful-dnd-droppable="48"] { overflow-anchor: none; } 