
        .skn-mlu6,.skn-mlu6 table{line-height:15px}
        .skn-mlu6.pagesize{width:595px}
        .skn-mlu6.fontsize,.skn-mlu6 ul li:before,.skn-mlu6 .septr:before{font-size:11px}
        .skn-mlu6.fontface{font-family:Arial}
        .skn-mlu6 .section{padding-top:20px}
        .skn-mlu6 .right-box .section{padding-top:10px}
        .skn-mlu6 .right-box .section:after{padding-bottom:10px}
        .skn-mlu6 .firstparagraph{margin-top:0!important}
        .skn-mlu6 .paragraph{margin-top:10px}
        .skn-mlu6 .left-box .singlecolumn,.skn-mlu6 .left-box .maincolumn{margin-left:0px;word-wrap:break-word}
        
        .skn-mlu6 table.skills td{padding-top:5px}
        .skn-mlu6 .name{font-size:34px;line-height:32px}
        .skn-mlu6 .resumeTitle{font-size:17px;line-height:17px;margin:0 0 10px 0}
        .skn-mlu6 .address2{font-size:11px;line-height:{$CILH}px}
        .skn-mlu6 .heading{font-size:13px;line-height:17px}
        .skn-mlu6 .right-box{width:174px}
        .skn-mlu6 .jobdates{font-size:10px}
        .skn-mlu6 .left-box .firstsection + .additional_lnk + .section,.skn-mlu6 .left-box .firstsection + .section:not(.additional_lnk),.skn-mlu6 .left-box .additional_lnk + .section{padding-top:30px}
        .skn-mlu6 .right-box{background-color:#4a4a4a}
        .skn-mlu6 .right-box .wrapper{background:#4a4a4a} /*For finalize page*/
        .skn-mlu6 .prflPic img{width:130px;height:168px}
		.skn-mlu6 .right-box > .sortable-item .section,
        .skn-mlu6 .right-box > .sortable-item .paragraph,.skn-mlu6 .left-box .innerRating,.skn-mlu6 .right-box .ratingBar:before{background:#4a4a4a} /*For finalize page*/
		.skn-mlu6 .totl-expr{background-color:#4a4a4a;font-size:8px;line-height:12px}

		/*Infographic*/
        .skn-mlu6 .langSec .paragraph,.skn-mlu6 .infoSec .paragraph{margin-top:5px}
        .skn-mlu6 .langSec .firstparagraph,.skn-mlu6 .infoSec .firstparagraph{padding-top:0}

        /*Photo Layout styles*/
        .skn-mlu6.pict-pcsh-circle .paragraph .prflPic img{width:154px;height:154px}
        .skn-mlu6.pict-pcsh-square .paragraph .prflPic img{width:154px;height:154px}
        .skn-mlu6.pict-pcsh-bottomleft .paragraph .prflPic img{height:154px;width:154px}
        .skn-mlu6.pict-pcsh-bottomright .paragraph .prflPic img{height:154px;width:154px}
        .skn-mlu6.pict-pcsh-radius .paragraph .prflPic  img{height:154px;width:154px}
    