
        .skn-lca1,.skn-lca1 table{line-height:17px}
        .skn-lca1.pagesize{width:521px}
        .skn-lca1.fontsize,.skn-lca1 .lang-sec .paragraph *,.skn-lca1 .skli-sec .paragraph *{font-size:12px}
        .skn-lca1.fontface{font-family:Century Gothic}
        .skn-lca1.vmargins{padding-top:37px;padding-bottom:37px}
        .skn-lca1.hmargins{padding-left:37px;padding-right:37px}
        .skn-lca1 .section{padding-top:15px!important}
        body #previewResume .preview-template-contact-highlighter{min-height:17px}
        .skn-lca1 .SortableItem > .wrapper{margin-top:15px}
        .skn-lca1 .firstsection{padding-top:0!important}
        .skn-lca1 .heading{width:140px}
        .skn-lca1 .paragraph{margin-top:10px}
        .skn-lca1 .firstparagraph{margin-top:0}
        .skn-lca1 .singlecolumn,.skn-lca1 .maincolumn{margin-left:140px}
        .skn-lca1 .sectiontitle{font-size:12px;line-height:12px}
        .skn-lca1 table.skills td{padding-top:5px}
        .skn-lca1 .address:last-child{border-color:#fcc74a}
        .skn-lca1 .name{font-size:37px;line-height:47px}
        .skn-lca1 .resumeTitle{font-size:16px;line-height:21px;padding:10px 0}
        .skn-lca1 .address,.skn-lca1 .adnlLnks{font-size:12px;line-height:22px}
		.skn-lca1 .skli-sec .singlecolumn .field:last-child{min-height:17px}
        .skn-lca1 .multi-para-hilt .heading{top:15px}
        .skn-lca1 .totl-expr{background-color:#fcc74a;font-size:8px;line-height:12px}

        /*FIX for Re-calculating width of singlecolumn for CL*/
        .skn-lca1 .sectionCL .singlecolumn{margin-left:0;width:100%}
        .skn-lca1 .address2{font-size:12px;line-height:17px}

        /*Infographic*/
        .skn-lca1 .lang-sec,.skn-lca1 .skli-sec,.skn-lca1 .multi-para-hilt{padding-left:140px}
        .skn-lca1 .lang-sec .heading,.skn-lca1 .skli-sec .heading{margin-left:-140px}
        .skn-lca1 .lang-sec .paragraph,.skn-lca1 .skli-sec .paragraph{width:47.7%}
        .skn-lca1 .data-LNGG .doc-item,.skn-lca1 .data-SKLI .doc-item{width:100%}
        .skn-lca1 .data-LNGG .sortableInner,.skn-lca1 .data-SKLI .sortableInner,.skn-lca1 .SECTION_LNGG .sortableInner,.skn-lca1 .SECTION-SKLI .sortableInner{display:flex;flex-wrap:wrap;justify-content:space-between}
        .skn-lca1 .data-LNGG .sortable-item,.skn-lca1 .data-SKLI .sortable-item{width:47.7%}
        .skn-lca1 .data-LNGG .sortable-item .paragraph,.skn-lca1 .data-SKLI .sortable-item .paragraph{width:100%;max-width:100%}
        .skn-lca1 .lang-sec .native-lang{width:100%}
        .skn-lca1 .inner-rating{background-color:#fcc74a}
        .skn-lca1 .lang-sec .sortable-item,.skn-lca1 .skli-sec .sortable-item{vertical-align:top;margin-top:0}
       

        /*Builder fixes*/
        .skn-lca1 .sortable-item i.far.fa-check{font-family:"Font Awesome 5 Pro"}
        .page-finalize .skn-lca1 .lang-sec,.page-finalize .skn-lca1 .skli-sec{padding-left:0}
        .page-finalize .skn-lca1 .lang-sec .heading,.page-finalize .skn-lca1 .skli-sec .heading{margin-left:0}
        .page-finalize .skn-lca1 .lang-sec .sortableInner,.page-finalize .skn-lca1 .skli-sec .sortableInner{margin-left:140px}
        .page-finalize .skn-lca1 .lang-sec .heading + div > div:not(.sortableInner) .firstparagraph{display:inline}
        .page-finalize .skn-lca1 .lang-sec .heading + div > div:not(.sortableInner) .firstparagraph .singlecolumn{margin-left:140px!important}
		.page-finalize .skn-lca1 .lang-sec .sortableInner .sortable-item .paragraph.nativeLangPara{max-width:100%}

        /*Spell checker*/
        .page-finalize #spellcheck .skn-lca1 .lang-sec,.page-finalize #spellcheck .skn-lca1 .skli-sec{padding-left:0px}
        .page-finalize #spellcheck .skn-lca1 .lang-sec .heading, .page-finalize #spellcheck .skn-lca1 .skli-sec .heading{margin-left:-0px}
		
		/*Fixes for builder for skill*/
        .skn-lca1 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:17px}	
        .skn-lca1 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-lca1 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
        .skn-lca1 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-lca1 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph, .skn-lca1  .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-lca1  .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}        
        .page-finalize .skn-lca1 .multi-para-hilt .heading{left:-140px;top:0px}
	   
        /*PDF Flex Handling Code - Personal Information*/
		.skn-lca1.for-pdf .pdet-sec .singlecolumn{display:block}
		.skn-lca1.for-pdf .pdfpdwrapper{display:table}
		.skn-lca1.for-pdf .pdfpdwrapper .details-wrap:first-child{display:table-cell;padding-right:5px}
		.skn-lca1.for-pdf .pdfpdwrapper .details-wrap:nth-child(2){display:table-cell}
		.skn-lca1.for-pdf .pdfpdwrapper .details-wrap{width:188px;}

        /*CSS for Infographic PDFWrapper*/
        .skn-lca1.for-pdf .lang-sec,.skn-lca1.for-pdf .skli-sec{display: block;}
        .skn-lca1.for-pdf .section .pdfinfwrapper{display:block;width:100%}
        .skn-lca1.for-pdf .section .pdfinfwrapper:after{content:'';clear:both;display:table}
        .skn-lca1.for-pdf .section .pdfinfwrapper .paragraph:first-child{float:left}
        .skn-lca1.for-pdf .section .pdfinfwrapper .paragraph:nth-child(2){float:right}
        .skn-lca1.for-pdf .section .pdfinfwrapper .paragraph{margin-bottom:5px;padding-bottom: 0px;}
        .skn-lca1.for-pdf .section .pdfinfwrapper:last-child .paragraph{margin-bottom:0}
        .skn-lca1.for-pdf .section .pdfinfwrapper .paragraph{clear: none;}

      /*PDF Handling for TEXP*/
      .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .texp-row{display:block;}
      .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .jobtitle-cell{display:inline-block;width:65%}
      .document.for-pdf.expr-durt-cexp .section.expr-sec .paragraph .singlecolumn .texp-cell{display:inline-block;float:right;}

    