
        .skn-mli1,.skn-mli1 table{line-height:14px}
        .skn-mli1.pagesize{width:595px}
        .skn-mli1{min-height:792px}
        .skn-mli1.pgsz-a4{min-height:842px}
        .skn-mli1.fontsize{font-size:10px}
        .skn-mli1.fontface{font-family:Blinker}
        .skn-mli1 .section{margin-bottom:25px}
        .skn-mli1 .paragraph{margin-top:15px}
        .skn-mli1 .right-box .singlecolumn,.skn-mli1 .right-box .maincolumn{margin-left:0px}
        .skn-mli1 table.skills td{padding-top:5px}
        .skn-mli1 .name{color:#496267;font-size:36px;line-height:35px}
        .skn-mli1 .resumeTitle{font-size:17px;line-height:17px;margin:0 0 10px 0}
        .skn-mli1 .address2{font-size:10px;line-height:{$CILH}px}
        .skn-mli1 .heading{font-size:14px;line-height:17px}
        .skn-mli1 .left-box{background-color:#496267;width:169px}
		.skn-mli1 .left-box .multi-para-hilt .paragraph{margin-bottom:10px}
        .skn-mli1 ul li{padding-left:0px}
        .skn-mli1 .left-box,.skn-mli1 .right-box .inner-rating{background-color:#496267}
        .skn-mli1 .sectiontitle{font-size:14px;line-height:17px}
        .skn-mli1 .right-box .singlecolumn, .skn-mli1 .right-box .maincolumn{margin-left:0px}
		.skn-mli1 .skli-sec .singlecolumn .field:last-child{min-height:15px}
        .skn-mli1 .disclaim,.skn-mli1 .sign{margin-top:50px}
		.skn-mli1 .sign + .disclaim,.skn-mli1 .disclaim + .sign{margin-top:25px}
		.skn-mli1 .totl-expr{font-size:8px;background-color:#496267;line-height:12px}
        .skn-mli1.pict-pcsh-rectangle .paragraph .prflPic img{min-width:139px;max-width:139px}
        .skn-mli1.pict-pcsh-rectangle .prflPic,.skn-mli1.pict-pcsh-rectangle .prflPic .field{width:139px}

        /* icons */
        .skn-mli1 .iconSvg{line-height:12px}
        .skn-mli1 .iconSvg svg,.skn-mli1 .iconSvg{width:12px;height:12px}
        .skn-mli1 .paragraph-fieldgroup .big-face + g, .skn-mli1 .paragraph-fieldgroup .text{fill:#496267}  		

       /*Infographic*/
        .skn-mli1 .right-box .lang-sec,.skn-mli1 .right-box .skli-sec{padding-left:0px}
        .skn-mli1 .right-box .lang-sec .heading,.skn-mli1 .right-box .skli-sec .heading,.skn-mli1 .right-box .multi-para-hilt .heading{margin-left:-0px;width:calc(100% + 0px)}
        .skn-mli1 .right-box .lang-sec.infobarsec .inner-rating,.skn-mli1 .right-box .skli-sec.infobarsec .inner-rating{background-color:#496267}
        .skn-mli1 .left-box .lang-sec.infobarsec .paragraph,.skn-mli1 .left-box .skli-sec.infobarsec .paragraph{padding-bottom:5px}
      
       /*Important needed for MPIT builder*/

        /*Infographic Skills*/
        .skn-mli1 .left-box .lang-sec.infotilesec .paragraph,.skn-mli1 .left-box .skli-sec .paragraph{padding-bottom:5px}
		
		/*Rectangular Rating Blocks*/
        .skn-mli1 .paragraph .sliced-rect .sliced-rect-tile.ratvfill{background-color:#496267}
        .skn-mli1 .left-box .paragraph .sliced-rect .sliced-rect-tile.ratvfill{background-color:#fff}
		
		/*Multi-para HILT*/
        .skn-mli1 .right-box .multi-para-hilt .paragraph{width:49%;max-width:49%}

        /*fixes for builder*/
        .skn-mli1 .right-box .lang-sec .sortable-item,.skn-mli1 .right-box .skli-sec .sortable-item{display:inline-block}
		/* .resume-preview .skn-mli1 .right-box .lang-sec .paragraph,.resume-preview .skn-mli1 .right-box .skli-sec .paragraph{width:{$LGPW}px;max-width:{$LGPW}px} */
        .resume-preview .skn-mli1 .right-box .lang-sec .paragraph.nativeLangPara,.resume-preview .skn-mli1 .right-box .skli-sec .paragraph.nativeLangPara{max-width:100%!important;width:100%!important}
        .skn-mli1 .data-CNTC + .section:not(.data-ALNK) .section{margin-top:25px}
        .skn-mli1 .right-box .sortable-item:first-child .section{border-top:none;border-bottom:5px solid #000;padding-bottom:0;margin-bottom:30px}
        .skn-mli1 .left-box .data-CNTC + .sortable-item:not(.data-ALNK) .section{margin-top:25px}
		.skn-mli1 .left-box .active .inner-rating, .skn-mli1 .left-box .active-drag .inner-rating{background-color:#496267!important}
		.skn-mli1 .left-box .active .rating-bar, .skn-mli1 .left-box .active-drag .rating-bar{background:#d5d6d6 !important}
        
        /* MPUK */
        /* .resume-preview .skn-mli1.MUK .right-box .lang-sec .paragraph,.resume-preview .skn-mli1.MUK .right-box .skli-sec .paragraph{width:{$LGUK}px;max-width:{$LGUK}px} */
        /* LES */
       /*  .resume-preview .skn-mli1.LES .right-box .lang-sec .paragraph.nativeLangPara,.resume-preview .skn-mli1.LES .right-box .skli-sec .paragraph.nativeLangPara{width:{$LGTW}px !important}
        .resume-preview .skn-mli1.LES .right-box .lang-sec.infotilesec .paragraph,.resume-preview .skn-mli1.LES .right-box .skli-sec.infotilesec .paragraph{width:{$LGUK}px;max-width:{$LGUK}px} */
        
        /* PRFL */
        .skn-mli1 .prflPic,.skn-mli1 .prflPic .field{height:169px;width:169px}
		.skn-mli1 .prflPic img{max-height:169px;max-width:169px;min-height:169px;min-width:169px}

        @-moz-document url-prefix(){.skn-mli1 .parentContainer{height:600px}}
		@media all and (-ms-high-contrast:none)
            {
            .skn-mli1 .prflPic img{position:static}/* IE11 */
        }
		
		/*Fixes for builder for skill*/

        /*LCINTL infographic logics */
        .skn-mli1 .doc-item{width:100%}
        .skn-mli1 .lang-sec .sortableInner,.skn-mli1 .skli-sec .sortableInner{display:flex;justify-content:space-between;flex-wrap:wrap}
        .skn-mli1 .lang-sec .sortableInner .sortable-item,.skn-mli1 .skli-sec .sortableInner .sortable-item{width:47.45%}
        .skn-mli1 .left-box .lang-sec .sortableInner .sortable-item,.skn-mli1 .left-box .skli-sec .sortableInner .sortable-item{width:100%}
        .skn-mli1 .section.lang-sec .sortable-item .paragraph,.skn-mli1 .section.skli-sec .sortable-item .paragraph,.skn-mli1 .lang-sec .sortableInner .native-lang{width:100%}
		


        .skn-mli1 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:15px}	
        .skn-mli1 .left-box .skli-sec .sortable-item:last-child .paragraph .singlecolumn .field:last-child,.skn-mli1 .right-box .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-mli1 .right-box .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
        .skn-mli1 .right-box .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-mli1 .right-box .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph, .skn-mli1 .right-box  .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-mli1 .right-box  .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}
	   .skn-mli1 .left-box .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph,.skn-mli1 .left-box .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph{padding-bottom:0!important}
	   
       /*PICT support*/
       .skn-mli1.pict-pcpf-none .pict-sec + .section, .skn-mli1.pict-pcpf-none .sortable-item:first-child + .sortable-item .section:not(.pict-sec){margin-top:45px}
        /*Button*/
        .skn-mli1.show-btn-gap .prfl-sec{padding-bottom:40px}
        .skn-mli1.show-btn .section.btnlnk{margin-top:10px;height:20px}
        .skn-mli1.show-btn .btnlnk a:before{background:#496267}
        .skn-mli1.show-btn .btnlnk .paragraph{padding-right:8px}
        .skn-mli1.show-btn .right-box .section:first-child{margin-bottom:10px}
        .skn-mli1.show-btn-gap .right-box .section:first-child{margin-bottom:40px}
        .skn-mli1.show-btn .btnlnk + .section{padding-top:10px;border-top:none}

        /*Arab style*/
        .skn-mli1.arb .resumeTitle{margin:0 0 10px 0}
        .skn-mli1.arb .icoTxt{padding-right:10px}
        .skn-mli1.arb,.skn-mli1.arb table{line-height:22px}
        .skn-mli1.arb .right-box .singlecolumn,.skn-mli1.arb .right-box .maincolumn{margin-right:0px}
        .skn-mli1.arb .right-box .singlecolumn,.skn-mli1.arb .right-box .maincolumn{margin-left:0px}
        .skn-mli1.arb .right-box{padding:25px 20px 25px 35px}
        .skn-mli1.arb .left-box{padding:25px 35px 25px 20px}
        .skn-mli1.arb .name{line-height:47px}
        .skn-mli1.arb .resumeTitle{line-height:22px}

     
        .skn-mli1.arb .right-box .lang-sec .heading, .skn-mli1.arb .right-box .skli-sec .heading,.skn-mli1.arb .right-box .lang-sec.infotilesec .heading, .skn-mli1.arb .right-box .skli-sec .heading{margin-right:-0px;width:calc(100% + 0px);margin-left:0}
        .skn-mli1.arb .right-box .lang-sec.infobarsec, .skn-mli1.arb .right-box .skli-sec.infobarsec,.skn-mli1.arb .right-box .lang-sec.infotilesec, .skn-mli1.arb .right-box .skli-sec, .skn-mli1.arb .right-box .multi-para-hilt{padding-right:0px;padding-left:0}
        .skn-mli1 .disclaim.section .paragraph .singlecolumn{margin-right:0}

        /* for-pdf */
        .skn-mli1.for-pdf .prflPic img{max-height:168.5px;max-width:168.5px;min-height:168.5px;min-width:168.5px}
        .skn-mli1.for-pdf.pict-pcsh-rectangle .paragraph .prflPic img{min-width:138.5px;max-width:138.5px}
        .skn-mli1.for-pdf .parentContainer .lang-sec, .skn-mli1.for-pdf .parentContainer .skli-sec{display:block}
        .skn-mli1.for-pdf .rating-bar,.skn-mli1.for-pdf .sliced-rect{page-break-inside:avoid;}

        /* for lngg pdf */
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper{display:block}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper:after{content:'';clear:both;display:table}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper .paragraph:nth-child(odd){float:left}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper .paragraph:nth-child(even){float:right}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper .paragraph{margin-bottom:10px}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper .paragraph{padding-bottom:0px}
        .skn-mli1.for-pdf .right-box  .pdfinfwrapper:last-child .paragraph{margin-bottom:0}
        .skn-mli1.for-pdf .lang-sec,.skn-mli1.for-pdf .skli-sec{display:block}
        
    