
        .skn-sli1,.skn-sli1 table{line-height:14px}
        .skn-sli1.pagesize{width:595px}
        .skn-sli1{min-height:762px}
        .skn-sli1.pgsz-a4{min-height:812px}
        .skn-sli1.fontsize,.skn-sli1 .lang-sec.infobarsec .paragraph *,.skn-sli1 .lang-sec.infotilesec .paragraph *,.skn-sli1 .skli-sec .paragraph *,.skn-sli1 .multi-para-hilt .paragraph *{font-size:10px}
        .skn-sli1.fontface{font-family:Saira}
        .skn-sli1 .section{border-color:#009bcc;margin-top:25px}
        .skn-sli1 .skli-sec{margin-bottom:25px}
        .skn-sli1 .SECTION_NAME,.skn-sli1 .SECTION_CNTC{margin-top:0!important;background:#009bcc;border-color:#009bcc}
        .skn-sli1 .SECTION_NAME{padding-top:42px!important}
        .skn-sli1 .heading{color:#009bcc}
        .skn-sli1 .paragraph{margin-top:10px}
        .skn-sli1 .singlecolumn, .skn-sli1 .maincolumn{margin-left:0px}
        .skn-sli1 .firstparagraph{margin-top:0!important}
        .skn-sli1 .sectiontitle{font-size:12px;line-height:14px}
        .skn-sli1 table.skills td{padding-top:5px}
        .skn-sli1 .name{font-size:40px;line-height:40px}
        .skn-sli1 .resumeTitle{font-size:17px;line-height:17px}
        .skn-sli1 .address{font-size:10px;line-height:12px}
        .skn-sli1 .jobline{padding-top:5px}
        .skn-sli1 ul li{padding-left:0px}
        .skn-sli1 .lang-sec .heading,.skn-sli1 .skli-sec .heading{margin-left:-0px}
        .skn-sli1 .lang-sec .paragraph,.skn-sli1 .skli-sec .paragraph{margin-left:0}
        .skn-sli1 .totl-expr{background-color:#009bcc;font-size:8px;line-height:12px}

        /*Infographic*/
        .skn-sli1 .lang-sec.infobarsec .inner-rating,.skn-sli1 .skli-sec.infobarsec .inner-rating{background-color:#009bcc}
        .skn-sli1 .lang-sec.infobarsec{padding-left:133px}
        .skn-sli1 .lang-sec.infobarsec .heading{margin-left:-133px}
        /* .skn-sli1 .lang-sec,.skn-sli1 .skli-sec{padding-left:0px} */
        .skn-sli1 .lang-sec .singlecolumn,.skn-sli1 .lang-sec .maincolumn,.skn-sli1 .skli-sec .singlecolumn,.skn-sli1 .skli-sec .maincolumn{margin-left:0}
        .skn-sli1 .hide-bar .field-ratt{display:none}

        /*Infographic Skills*/
        .skn-sli1 .lang-sec.infotilesec,.skn-sli1 .skli-sec{padding-left:133px}
        .skn-sli1 .lang-sec.infotilesec .heading,.skn-sli1 .skli-sec .heading,.skn-sli1 .multi-para-hilt .heading{margin-left:-133px}

        .skn-sli1 .skli-sec .singlecolumn .field:last-child{min-height:13px}
        
        /*Rectangular Rating Blocks*/
        .skn-sli1 .paragraph .sliced-rect .sliced-rect-tile.ratvfill{background-color:#009bcc}

        /*FIX for Re-calculating width of singlecolumn for CL*/
        .skn-sli1 .sectionCL .singlecolumn{margin-left:0!important;width:100%}
        .skn-sli1 .address2{font-size:10px;line-height:14px}

        /*Builder team Fix for finalise page*/
        .skn-sli1 .experience .sortableInner,.skn-sli1 .education .sortableInner{margin-left:133px}
        .skn-sli1 .sortableInner .paragraph{margin-left:0}
        .skn-sli1 .name-contact + div > .section:first-of-type{border-top:none}
        .skn-sli1 .name-contact .section{margin-bottom:-2px;border-top:none}
        .page-finalize .skn-sli1 .data-LNGG .paragraph-container .paragraph{max-width:{$LGBW}px}
        .page-finalize .skn-sli1 .data-LNGG .paragraph-container .nativeLangPara{width:100%;max-width:100%}
        .page-finalize .skn-sli1 .lang-sec .sortableInner .paragraph-container{display:initial !important}
        .page-finalize .skn-sli1.MUK .data-LNGG.active .text-rename{margin-left:-133px}

        /* Builder fixes */
        .skn-sli1 .lang-sec .title-edit,.skn-sli1 .skli-sec .title-edit{margin-left:-133px}
		.skn-sli1 .sortable-item.name-contact + div .sortable-item:first-child .section{border-top:none}
        .skn-sli1 .SECTION_SKLI .sortableInner .sortable-item{display:inline-block}
        .skn-sli1 .SECTION_SKLI .sortableInner .sortable-item .para_odd{margin-right:15px} 
        .skn-sli1 .data-LNGG .sortable-item.native-lang{width:100%;max-width:100%}
        .skn-sli1 .data-LNGG .doc-item,.skn-sli1 .data-SKLI .doc-item,.skn-sli1 .lang-sec .doc-item,.skn-sli1 .skli-sec .doc-item{width:100%}
        .skn-sli1 .data-LNGG .sortableInner,.skn-sli1 .data-SKLI .sortableInner,.skn-sli1 .SECTION_LNGG .sortableInner,.skn-sli1 .SECTION-SKLI .sortableInner{display:flex;flex-wrap:wrap;justify-content:space-between}
        .skn-sli1 .data-LNGG .sortable-item,.skn-sli1 .data-SKLI .sortable-item{width:48.2%}
        .skn-sli1 .data-LNGG .sortable-item .paragraph,.skn-sli1 .data-SKLI .sortable-item .paragraph{width:100%;max-width:100%}

        /*Fixes for builder for skill*/
        .skn-sli1 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:13px}	
        .skn-sli1 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-sli1 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
        .skn-sli1 .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-sli1 .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph,.skn-sli1 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-sli1 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}
        .skn-sli1.MUK .sortable-item.name-contact + div .sortable-item:first-child .section{border-top:2px solid #009bcc}

        /*HILT multi para*/   
        .skn-sli1 .multi-para-hilt{padding-left:133px}

        /*PDF Flex Handling Code - Personal Information*/
		.skn-sli1.for-pdf .pdfpdwrapper{display:block}
		.skn-sli1.for-pdf .pdfpdwrapper .details-wrap:first-child{float:left;padding-right:5px}
		.skn-sli1.for-pdf .pdfpdwrapper .details-wrap:nth-child(2){float:right}
		.skn-sli1.for-pdf .pdfpdwrapper .details-wrap{width:198px!important;}

    /*Infographic Containers*/
    .skn-sli1.for-pdf .lang-sec,.skn-sli1.for-pdf .skli-sec{display:block}
    .skn-sli1.for-pdf .pdfinfwrapper{display:block}
    .skn-sli1.for-pdf .pdfinfwrapper:after{content:'';clear:both;display:table}
    .skn-sli1.for-pdf .pdfinfwrapper .paragraph:first-child{float:left}
    .skn-sli1.for-pdf .pdfinfwrapper .paragraph:nth-child(2){float:right}
    .skn-sli1.for-pdf .pdfinfwrapper:last-child .paragraph{margin-bottom:0;padding-bottom:0!important}

    /*POC Multi Experience Para*/
    .skn-sli1 .groupChildPara.paragraph .singlecolumn .companyloc{display:none}

    .skn-sli1 .data-CERT.sortable-item .sortableInner .PARAGRAPH_CERT span,.modal-preview-resume .skn-sli1 .PARAGRAPH_CERT span,.skn-sli1 .cert-sec span p{display:inline-block}

    .skn-sli1.for-pdf{min-height:auto!important}        
    
    /*Pagination Parameters*/
    .skn-sli1{data-ptbm:30px;data-pgsz:595px}
    