
        .skn-cba1,.skn-cba1 table{line-height:13px}
        .skn-cba1.pagesize{width:535px}
        .skn-cba1.fontsize,.skn-cba1 .lang-sec .paragraph *,.skn-cba1 .skli-sec .paragraph *{font-size:11px}
        .skn-cba1.fontface{font-family:Palatino Linotype}
        .skn-cba1.vmargins{padding-top:25px;padding-bottom:25px}
        .skn-cba1.hmargins{padding-left:30px;padding-right:30px}
        .skn-cba1 .section{margin-top:6px}
        .skn-cba1 .disclaim{margin:0;padding:0;margin-top:30px}
        .skn-cba1 .sectiontitle{font-size:13px;line-height:15px}
        .skn-cba1 .heading{margin-bottom:3px}
        .skn-cba1 .paragraph{margin-top:6px}
        .skn-cba1 .firstparagraph{margin-top:0}
        .skn-cba1 .singlecolumn,.skn-cba1 .maincolumn,.skn-cba1 .multi-para-hilt{margin-left:0px}
        .skn-cba1 table.skills td{padding-top:3px}
        .skn-cba1 .name{font-size:23px;line-height:31px}
        .skn-cba1 .resumeTitle{font-size:15px;line-height:25px;padding:0 0 6px 0}
        .skn-cba1 .PARAGRAPH_PRFL .address,.skn-cba1 .PARAGRAPH_CLPRFL .address{font-size:10px;line-height:12px;padding-top:4px}
        .skn-cba1 .address li:before{font-size:13px}
        .skn-cba1 .name,.skn-cba1 .sectiontitle{color:#000000}
        .skn-cba1 .lowerborder,.skn-cba1 .lowerborder2{border-color:#000000}
		.skn-cba1 .skli-sec .singlecolumn .field:last-child{min-height:13px}
		.skn-cba1 .totl-expr{background-color:#000000;font-size:8px;line-height:12px}

        /*FIX for Re-calculating width of singlecolumn for CL*/
        .skn-cba1 .sectionCL .singlecolumn{margin-left:0;width:100%}
        .skn-cba1 .address2{font-size:11px;line-height:13px}

        /*Infographic*/
        .skn-cba1 .lang-sec,.skn-cba1 .skli-sec{padding-left:0px}
        .skn-cba1 .lang-sec .heading,.skn-cba1 .skli-sec .heading,.skn-cba1 .multi-para-hilt .heading{margin-left:-0px}
        .skn-cba1 .lang-sec .paragraph,.skn-cba1 .skli-sec .paragraph{width:48.5%}
        .skn-cba1 .inner-rating{background-color:#000000}
        .skn-cba1 .lang-sec .heading, .skn-cba1 .skli-sec .heading{width:calc(100% + 0px)}
		.skn-cba1 .lang-sec .sortable-item,.skn-cba1 .skli-sec .sortable-item{vertical-align:top}
        .skn-cba1 .data-LNGG .doc-item,.skn-cba1 .data-SKLI .doc-item{width:100%}
        .skn-cba1 .data-LNGG .sortableInner,.skn-cba1 .data-SKLI .sortableInner,.skn-cba1 .SECTION_LNGG .sortableInner,.skn-cba1 .SECTION-SKLI .sortableInner{display:flex;flex-wrap:wrap;justify-content:space-between}
        .skn-cba1 .data-LNGG .sortable-item,.skn-cba1 .data-SKLI .sortable-item{width:48.5%}
        .skn-cba1 .data-LNGG .sortable-item .paragraph,.skn-cba1 .data-SKLI .sortable-item .paragraph{width:100%;max-width:100%}
        .skn-cba1 .lang-sec .native-lang{width:100%}
		
		/*Finalize Fixes*/
        .skn-cba1 .sortable-item i.far.fa-check{font-family:"Font Awesome 5 Pro"}
		.page-finalize .skn-cba1 .sortableInner .paragraph-container+.paragraph-container{margin:0}
        .skn-cba1 .lang-sec .sortableInner .sortable-item:not(:first-child) .paragraph,.skn-cba1 .skli-sec .sortableInner .sortable-item:not(:first-child) .paragraph{vertical-align:top}
    
	    /*Fixes for builder for skill*/
        .skn-cba1 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child{min-height:13px}	
        .skn-cba1 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,.skn-cba1 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child{min-height:0}	
       .skn-cba1 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-cba1 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph, .skn-cba1  .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph, .skn-cba1  .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0!important}
	   
       .skn-cba1 .paragraph-fieldgroup .address ul{display:block}
	   
	   /*PDF Flex Handling Code - Personal Information*/
		.skn-cba1.for-pdf .pdfpdwrapper{display:block}
		.skn-cba1.for-pdf .pdfpdwrapper .details-wrap:first-child{float:left;padding-right:5px}
		.skn-cba1.for-pdf .pdfpdwrapper .details-wrap:nth-child(2){float:right}
		.skn-cba1.for-pdf .pdfpdwrapper .details-wrap{width:265px!important;}

        /*CSS for Infographic PDFWrapper*/
        .skn-cba1.for-pdf .lang-sec,.skn-cba1.for-pdf .skli-sec{display: block;}
        .skn-cba1.for-pdf .section .pdfinfwrapper{display:block;width:100%}
        .skn-cba1.for-pdf .section .pdfinfwrapper:after{content:'';clear:both;display:table}
        .skn-cba1.for-pdf .section .pdfinfwrapper .paragraph:first-child{float:left}
        .skn-cba1.for-pdf .section .pdfinfwrapper .paragraph:nth-child(2){float:right}
        .skn-cba1.for-pdf .section .pdfinfwrapper .paragraph{margin-bottom:5px;padding-bottom: 0px;}
        .skn-cba1.for-pdf .section .pdfinfwrapper:last-child .paragraph{margin-bottom:0}
        .skn-cba1.for-pdf .section .pdfinfwrapper .paragraph{clear: none;}

        .skn-cba1.for-pdf .totl-expr{padding:1px 6px 1.5px}

	