.gdpr-common a{color:#1e6cb5}
.gdpr-common button, html input[type="button"], input[type="reset"], input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
.gdpr-common button{overflow:visible;}
.gdpr-common h2{color: #082E67;font-size: 24px;font-weight: bold;letter-spacing: 0;line-height: 30px;}
.gdpr-modal-body p,.banner-gdpr h2,.banner-gdpr p,.banner-gdpr .gdpr-btn,.banner-gdpr a,.gdpr-modal-setting .cookies-info-title, .gdpr-modal-setting .accordion{ font-family: inherit;}
.banner-gdpr h2,.gdpr-common h2{font-family: Domine;margin-top:0;}
.gdpr-modal-body p,.gdpr-common p,.gdpr-modal-setting .accordion,.gdpr-modal-setting .cookies-info-title{color:#082E67}
.gdpr-common a{color:#1e6cb5;text-decoration:underline;}
.gdpr-common p{color: #082E67;font-size: 18px;letter-spacing: 0;line-height: 30px;margin:0; padding:0;}
.gdpr-modal-backdrop{position:fixed;top:0;left:0;z-index:1040;width:100vw;height:100vh;background-color:#000;opacity:.5;}
.gdpr-modal-backdrop.gdpr-show{opacity:.5;}
/*button */
.gdpr-btn{height:50px;min-width:125px; display:inline-block;color:#002D6B;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:0;font-size:20px;border-radius:26px; font-weight:800;font-family: inherit;}
.gdpr-btnOrange{background-color:#028C98;color:#fff;outline: 0 !important;min-width:173px;}
.gdpr-common .setting-gdpr{min-width:90px;margin-right:30px;border: none;color: #002D6B;background: transparent;outline: 0;box-shadow: none;width:auto;text-transform:none;}
.gdpr-modal-setting .gdpr-btnOrange{min-width:237px;}
.banner-gdpr .gdpr-btnOrange{min-width:173px;text-transform:none;}
/*bottom GDRP */
.banner-gdpr{position:fixed;left:0;right:0;bottom:20px;z-index:999;min-height:161px;width: 95%; margin: 0 auto; border-radius: 31px; background-color: #FFFFFF; box-shadow: 0 0 20px 0 rgba(0,0,0,0.18)}
.gdpr-container{padding:40px;margin:0 auto;position:relative;bottom:0;display: flex;justify-content: space-between;align-items: center;}
.banner-gdpr-add {padding-bottom: 235px !important;height: auto}
.banner-gdpr h2{font-size:20px;line-height:25px;}
.gdpr-leftbox{width:69%;}
.gdpr-righbox{width:31%;margin-top:50px;display: flex;align-items: center;justify-content: flex-end;}
.gdpr-leftbox p{margin-top:20px;}
.gdpr-common .radio label::before, .gdpr-common .checkbox label::before{display: none;}
.gdpr-common .radio label::after, .gdpr-common .checkbox label::after{display: none;}
/*gdpr 2nd mid banner */
.gdpr-modal{position:fixed;top:0;left:0;z-index:1050;width:100%;height:100%;overflow:hidden;outline:0;display:flex;align-items:center!important;}
.gdpr-modal.show .gdpr-modal-dialog{-webkit-transform:none;transform:none;}
.gdpr-modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
.gdpr-modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border-radius:0;outline:0;padding:40px;border-radius: 31px; background-color: #FFFFFF; box-shadow: 0 0 20px 0 rgba(0,0,0,0.18);}
.gdpr-modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;}
.gdpr-modal-title{margin-bottom:20px;}
.gdpr-modal-body{position:relative;}
.gdpr-modal-footer{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;margin:25px 0 0;}
@media (min-width:767px){.gdpr-modal-dialog{max-width:700px;margin:1.75rem auto;border-radius: 31px; background-color: #FFFFFF;box-shadow: 0 0 20px 0 rgba(0,0,0,0.18)} }
/*setting Preferences popup*/
.grpr-cookie-info{margin-top:20px;}
.checkbox.s-toggle-switch{position:absolute;top:11px;margin:0;padding-left: 0;}
.cookies-points-wrap{position:relative;display:flex;align-items:center;flex-flow:wrap;}
.gdpr-modal-setting .accordion{background-color:#fff;cursor:pointer;padding:10px 20px 8px 30px;width:100%;border:none;text-align:left;outline:none;transition:0.1s;font-size:18px;font-weight:600;letter-spacing:0;line-height:25px;}
.gdpr-modal-setting .accordion:after{float: right;margin-left: 5px;content: '';background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhbCIgZGF0YS1pY29uPSJjaGV2cm9uLXJpZ2h0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI1NiA1MTIiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLXJpZ2h0IGZhLXctOCBmYS0yeCI+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3LjUyNSAzNi40NjVsLTcuMDcxIDcuMDdjLTQuNjg2IDQuNjg2LTQuNjg2IDEyLjI4NCAwIDE2Ljk3MUwyMDUuOTQ3IDI1NiAxMC40NTQgNDUxLjQ5NGMtNC42ODYgNC42ODYtNC42ODYgMTIuMjg0IDAgMTYuOTcxbDcuMDcxIDcuMDdjNC42ODYgNC42ODYgMTIuMjg0IDQuNjg2IDE2Ljk3IDBsMjExLjA1MS0yMTEuMDVjNC42ODYtNC42ODYgNC42ODYtMTIuMjg0IDAtMTYuOTcxTDM0LjQ5NSAzNi40NjVjLTQuNjg2LTQuNjg3LTEyLjI4NC00LjY4Ny0xNi45NyAweiIgY2xhc3M9IiI+PC9wYXRoPjwvc3ZnPg==);height: 14px;width: 7px;margin-top: 5px;color: #2e2e2e;}
.gdpr-modal-setting .active,.gdpr-modal-setting .accordion:hover{background-color:#fff;}
.gdpr-modal-setting .active:after{transform: rotate(90deg);}
.gdpr-modal-setting .gdpr-modal-body p{margin-bottom:20px;}
.gdpr-modal-setting .panel{padding:0 15px 0 30px;background-color:white;max-height:0;overflow:hidden;transition:max-height 0.1s ease-out; margin-bottom:0; border:0;box-shadow: none;-webkit-box-shadow:none;}
.gdpr-modal-setting .cookies-info{height:205px;overflow-y:scroll;padding-top:40px;}
.gdpr-modal-setting .cookies-info p{padding: 0; margin-bottom:0}
.gdpr-modal-setting .cookie-details{margin-top:20px;}
.gdpr-modal-setting .cookies-info-title{margin:0 0 15px;font-size:20px;font-weight:800;letter-spacing:0;line-height:30px;position:absolute;width:96%;background:#fff;z-index:1;}
.banner-gdpr{z-index: 999999;}
.gdpr-modal.gdpr-modal-setting{z-index: 9999100;}
.gdpr-modal-setting ::-webkit-scrollbar{width:8px;}
.gdpr-modal-setting ::-webkit-scrollbar-track{border-radius:4px;background-color:rgba(215, 221, 226, 0.3);}
.gdpr-modal-setting ::-webkit-scrollbar-thumb{background:#d7dde2;border-radius:4px;}
.gdpr-modal-setting .checkbox label, .gdpr-modal-setting .radio label{padding-left:0}
.gdpr-modal-setting .checkbox label:after{content:'';display:table;clear:both;}
.gdpr-modal-setting .checkbox .cr{display: none;}
.gdpr-modal-setting .checkbox label input[type="checkbox"]{width: 20px;height: 20px;opacity: 1;display: block;position: relative;margin: 0;}
.gdpr-modal{position:fixed;top:0;left:0;z-index:999999;display:none;width:100%;height:100%;overflow:hidden;outline:0;background-color: rgba(0, 0, 0, 0.5);}
.gdpr-common .setting-gdpr.btn-secondary:not(:disabled):not(.disabled):active:focus,
.gdpr-common .setting-gdpr.btn-secondary:not(:disabled):not(.disabled).active:focus {
    border: 0;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

.gdpr-btnOrange:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}
.gdpr-common .setting-gdpr:hover {
    background: transparent;
    color: #002D6B;
    border-color: transparent;
}

.hide-gdpr-banner { display: none !important;}

@media (max-width:1299.98px) {
    .gdpr-leftbox {
        width: 65%;
    }
    .gdpr-righbox {
        width: 35%;
    }
}
@media (max-width:1199.98px) {
    .gdpr-leftbox {
        width: 60%;
    }
    .gdpr-righbox {
        width: 40%;
    }
}

@media (max-width:1024px) {
    .gdpr-container{
        width: 100%;
        padding: 15px;
        flex-direction: column;
    }  
    .gdpr-leftbox {
        width: 100%;
    }
    .banner-gdpr h2 {
        margin: 0;
        font-size: 22px;
    }
    .gdpr-common p {
        font-size: 16px;
        line-height: 24px;
    }
    .gdpr-leftbox p{
        margin-top: 10px;
    }
    .gdpr-righbox {
        width: 100%;
        margin-top: 15px;
        justify-content: center;
    }
    .gdpr-common .setting-gdpr {
        margin-right: 15px;
    }
    .banner-gdpr .gdpr-btnOrange {
        min-width: 135px;
    }
    .gdpr-btn{
        font-size: 16px;
    }
    .gdpr-modal-content{
        padding: 12px;
        border-radius: 20px;
    }
    .gdpr-common h2{        
        font-size: 21px;
    }
    .gdpr-modal-title {
        margin-bottom: 10px;
    }
    .gdpr-modal-setting .gdpr-modal-body p {
        margin-bottom: 10px;
    }
    .gdpr-modal-setting .accordion {
        padding: 8px 10px 8px 30px;
        font-size: 14px;
    }
    .gdpr-modal-setting .cookies-info-title{
        margin: 0;
        font-size: 18px;
        position: static;
    }
    .gdpr-modal-setting .cookies-info {
        height: 115px;
        overflow-y: scroll;
        padding-top: 0;
    }
    .gdpr-modal-setting .gdpr-btnOrange {
        min-width: 200px;
    }
    .gdpr-modal-footer{
        margin: 20px 0 0;
    }
    .gdpr-modal-setting .cookies-info p{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .checkbox.s-toggle-switch{
        top:10px;
    }
}

